.tim-row {
    margin-bottom: 20px;
}

.loader-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999 !important;
    top: 0;
}

.loaders img {
    width: 150px;
}

.page-item.active .page-link {
    background-color: #da271f !important;
    border: 1px solid #da271f !important;
    color: white !important;
}

.page-item .page-link {
    color: #da271f !important;
}

.tim-white-buttons {
    background-color: #777777;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    color: #fff !important;
}

.text-is-dark {
    color: #333;
}

.inner {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 1rem;
    margin-left: 1rem;
}

.reduce-line-height {
    display: flex;
    gap: 4px;
}

.is-breadcrumb {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.is-breadcrumb a {
    color: gray;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.is-breadcrumb a.is-active-pages {
    color: #da241c;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.sidebar .nav .icon {
    font-size: 22px !important;
    margin-left: 1px;
    margin-top: 3px !important;
}

.sidebar .nav span {
    margin-left: 1rem;
    margin-top: 2px;
}

.btn-scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 10px 20px;
    outline: none !important;
    border: none;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    border-radius: 4px !important;
    border: 1px solid #da241c;
    color: white;
    background: #da241c;
}

.is-btn {
    padding: 10px 20px;
    text-transform: capitalize;
    font-family: "Plus Jakarta Sans", sans-serif;
    outline: none !important;
    border: none;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    border-radius: 4px !important;
}

.is-primary {
    background-color: #da271f;
    color: #fff;
    border-radius: 4px;
}

.is-warning {
    background-color: #fbc658;
    color: #fff;
    border-radius: 4px;
}
.dataTables_wrapper a.paginate_button.current {
    background-color: #da271f !important;
    border: none !important;
    color: #fff !important;
}

.is-primary {
    background-color: #da271f;
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 4px;
    border: 1px solid #da271f;
}

.is-primary-light {
    background-color: #fff;
    color: #da241c;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 4px;
    border: 1px solid #da271f;
}

.is-primary:hover {
    background-color: #b3221a;
    color: #fff;
}
.is-warning {
    background-color: #fbc658;
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 4px;
    border: 1px solid #fbc658;
}
.p-warning {
    padding: 12px 15px;
}
.is-warning:hover {
    background-color: #eab13f;
    color: #fff;
}
.is-table-responsive {
    overflow-x: auto;
}

.form-control {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.nav-link-btn:hover {
    color: #da241c !important;
}

.nav-link-btn:active {
    color: #da241c !important;
}

.nav-link-btn:focus {
    color: #da241c !important;
}

.dropdown-item:hover {
    background-color: #da241c !important;
    color: #fff !important;
}

.reduce-line-height span,
p {
    line-height: 1rem;
}

.inner li a p {
    margin-top: 0.5rem;
}

.typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}

.typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}

.tim-row {
    padding-top: 60px;
}

.tim-row h3 {
    margin-top: 0;
}

.offline-doc .page-header {
    display: flex;
    align-items: center;
}

.offline-doc .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #fff;
    z-index: 1;
}

@media all and (min-width: 992px) {
    .sidebar .nav > li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.card.card-upgrade .card-category {
    max-width: 530px;
    margin: 0 auto;
}

/* Nucleo Style */

.demo-iconshtml {
    font-size: 62.5%;
}

.sidebar .nav .active .nav-link-btn {
    width: 100% !important;
    border-left: 5px solid #da241c;
    background-color: rgba(217, 38, 28, 0.1) !important;
    border-radius: 2px !important;
    color: #da241c !important;
}

.inner li.active {
    background-color: transparent !important;
    color: #da241c !important;
}

ul.inner li.active a {
    color: #da241c !important;
}

ul.inner li.active i {
    color: #da241c !important;
}
ul.inner {
    display: none;
}

.demo-icons body {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #333333;
    background: white;
}

.demo-icons a {
    color: #608cee;
    text-decoration: none;
}

.demo-icons header {
    text-align: center;
    padding: 100px 0 0;
}

.demo-icons header h1 {
    font-size: 2.8rem;
}

.demo-icons header p {
    font-size: 1.4rem;
    margin-top: 1em;
}

.demo-icons header a:hover {
    text-decoration: underline;
}

.demo-icons .nc-icon {
    font-size: 34px;
}

.demo-icons section h2 {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 1em 0.2em;
    margin-bottom: 1em;
}

.demo-icons ul {
    padding-left: 0;
}

.demo-icons ul::after {
    clear: both;
    content: "";
    display: table;
}

.demo-icons ul li {
    width: 20%;
    float: left;
    padding: 16px 0;
    text-align: center;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
#sidebar .nav-link-btn .icon {
    font-size: 30px;
    margin-top: 1px;
}

.demo-icons ul li:hover {
    background: #f4f4f4;
}

.demo-icons ul p,
.demo-icons ul em,
.demo-icons ul input {
    display: inline-block;
    font-size: 1rem;
    color: #999999;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.demo-icons ul p {
    padding: 20px 0 0;
    font-size: 12px;
    margin: 0;
}

.demo-icons ul p::selection,
.demo-icons ul em::selection {
    background: #608cee;
    color: #efefef;
}

.demo-icons ul em {
    font-size: 12px;
}

.demo-icons ul em::before {
    content: "[";
}

.demo-icons ul em::after {
    content: "]";
}

.demo-icons ul input {
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    display: none;
}

@media (max-width: 767px) {
    .wizard-add .nav-tabs > li a i {
        display: none;
    }

    .wizard-edit .nav-tabs > li a i {
        display: none;
    }
}
